input.readonly {
	background-color: #eee;
	opacity: .7;
}

div.c-calculation-date[data-field="SoftCutoff"], div.c-calculation-date[data-field="HardCutoff"] {
  display: none;
}

div[data-field="TuitionTimer1"] {
  font-family: 'Open Sans',Helvetica,sans-serif;
  color: #424242;
  font-weight: 500;
  font-size: 1.3em;
  margin-top: -50px;
}

.counter {
  font-weight: 900;
}

.counter:after {
  content: "from now!";
  padding-left: 5px;
}

.counter span:nth-child(even) {
  color: #fbb03c;
}

.counter span:nth-child(odd) {
  color: #119c11;
}